

<div class="change-page">
  <% if(page.prev !==0){ %>
    <div class="p-page">
      <a href="<%- url_for(page.prev_link) %>">
        <div class="previous">
          上一页
        </div>
      </a>
    </div>
    <% } %>
      <% if(page.next !==0){ %>
        <div class="n-page">
          <a href="<%- url_for(page.next_link) %>">
            <div class="next">
              下一页
            </div>
          </a>
        </div>
        <% } %>
</div>